.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  margin-bottom: 6rem;

  #{&}-text {
    align-self: center;

    &-desc {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }

  #{&}-img {
    position: relative;
    &-img {
      object-fit: cover;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    &-border-div {
      border: 1px solid $light-grey-color;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;

      width: 100%;
      height: 100%;

      position: absolute;
      top: 1rem;
      left: 1rem;

      z-index: -1;
    }
  }
}
