#header {
  background-color: $sec-color;

  .header {
    padding: 1rem 0;

    @include flex($justify: space-between);

    .logo {
      flex-basis: 40%;
    }

    .contact-nav {
      flex: 1;

      @include flex($direction: column, $align: flex-end, $gap: 1rem);

      .contact {
        @include flex($gap: 1rem);

        .contact-info {
          @include flex($gap: 0.5rem);

          .phone-icon {
            width: 2rem;
            height: 2rem;

            @include flex();

            border: 2px solid $pri-color;
            border-top-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }

        .social-icons {
          @include flex($gap: 0.5rem);

          .social-icon {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            background-color: $pri-color;
            color: $sec-color;

            @include flex();
          }
        }
      }

      .nav {
        @include flex($gap: 1rem);

        .nav-link {
          text-transform: uppercase;
          color: $text-color-dark;

          .down-icon {
            color: $pri-color;
          }
        }
      }
    }
  }
}
