.intro-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  #{&}-text {
    align-self: center;
    &-heading {
      margin-bottom: 1rem;
      line-height: 1.5;
      font-size: 1.75rem;
    }

    &-desc {
      line-height: 1.6;
    }
  }
}
