$pri-color: #f9c36c;
$sec-color: #ffffff;
$sec-color-light: rgba(255, 255, 255, 0.5);
$blue-color-dark: #061a35;
$blue-color-light: rgba(6, 26, 53, 0.5);
$text-color-dark: #333;
$light-grey-color: #ccc;
$light-grey-color-2: #f3f6f9;

$font-family-text: 'Open Sans', sans-serif;
$font-family-headings: 'Playfair Display', serif;
