@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

@import './resets';
@import './variables';
@import './mixins';
@import './utilities';
@import './header';
@import './video-bg';
@import './intro-section';
@import './services-section';
@import './about-section';
@import './recent-cases-section';
@import './testimonials-section';
@import './about-detailed-section';
@import './about-section-3';
@import './blog-posts-section';
@import './about-section-4';
@import './contact-us';
